<h1>List Student Enrolled</h1>

<%= link_to "Enrol Student", new_student_path %><br/>

<% @students.each do |student| %>
<p><%= link_to student.fullname, student_path(student.id) %>&nbsp;<%= student.address %></p>
<% end %>
