<h1>Student Form Registration</h1>

<%= link_to "Back To List Student", students_path %><br/>

<%= form_for(@student) do |f| %>
  <%= f.label :fullname, "Full Name"%><%= raw @student.errors[:fullname].first %><br/>
  <%= f.text_field :fullname, :size => "50"%><br/>
  <%= f.label :place_date_birth, "Place, Date Birth"%><%= raw @student.errors[:place_date_birth].first %><br/>
  <%= f.text_field :place_date_birth, :size => "50"%><br/>
  <%= f.label :address, "Address now" %><%= raw @student.errors[:address].first %><br/>
  <%= f.text_area :address, :size => "70x20" %><br/>
  <%= f.label :graduated_from, "Graduated From"%><%= raw @student.errors[:graduated_from].first %><br/>
  <%= f.text_field :graduated_from, :size => "50"%><br/>
  <%= f.label :year_graduated, "Year Graduated"%><%= raw @student.errors[:year_graduated].first %><br/>
  <%= f.text_field :year_graduated, :size => "20"%><br/>
  <%= f.submit :Enroll %>
<% end %>
