<h1>Detail Student</h1>

<%= link_to "Back To List Student", students_path %><br/>

<p>Full Name : <%= @student.fullname %></p>
<p>Place & Date Birth : <%= @student.place_date_birth %></p>
<p>Address Now : <%= @student.address %></p>
<p>Graduated From : <%= @student.graduated_from %></p>
<p>Year Graduated : <%= @student.year_graduated %></p>
<%= link_to "EDIT", edit_student_path(@student.id) %>&nbsp;|&nbsp;
<%= link_to "DELETE", @student, method: :delete, data: {confirm: "MDwikuntobayu, Are you sure? "}  %>
